a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 10px 0 10px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ff0000; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://lh3.googleusercontent.com/AgCkujHvulIAs6iGtZ_LkeQaxTlMBieaD8HUW8FlOhymysFzwONmDT1mIfCaVLG-tuAiLanwokUSriLr-2QUNBxvndpyaXNuKLuucmOhq2FjFivcMMzxFo9-5ImnWsUYDe97Zw7C-cRa979MrL_zZSE0xwlr7rMmrBSh1x-aGjIdUwKmiQvhrSwVy-pNeY9yQHn0ZQLXX9QDuSYSkLAmwW1EAtLfFnhA-cS_gWVk-SH_nKK7ZyoAVEQItJ5-tOOcoXe_36SX_5HE5bdO71t-YWARLHZEYVUeHkGRV6PAVr7jy36zOmKqgU1OPeySPv3SoCa6sk6ToblwSzSTw1fu4GMjbwxhjv0v0qhw2_nPSzRDXyTLLUIjzo2Fp0kLKMlU0ebQz9afEloS7MPr5l9ffVeCxOdyKuHJxZYF3wVIC18PvkVf_uqKnBvHbIONFANlAgQ7y4xtIqUSKCjAk8TvktuMAFoAFvgtU1fX4A3Cq0pjgr5fAdwLW9apQWsnYXb8nJAk6ruCk2OtxU5mW2aa6RhAtwteRA44MV8xLfSUqYIvmbCqSurREm0bGI3voD5j4QiTe1ufPqh3SmtQZPho_mPsn7ZJnQa2ExgPpgjSbEo3ObOwTJlVNcWbivqiGIw3t871MHqBn5QaZ6kV-nfjJ_ZN03WoUACwtvloOxK3-BSyMMEjcPswFaJv2zTTuWauthcfOkIjxBcddFBnw9DBKeML7jFf-lMHn8QGxGrK4gwEL8lQSKQj1svOX_6s6Hfznd6qKNMex-j5jkzPNE-OiPFkDDM32FVKiULeNjY_UXSsuFBVb3zbwY3liCfFOsr6glCQxj1R7Ztv0gMa3AyQ65lgJZRJKley9UuHMe0ljD5m7cFAg_1KUgqTj8jyPMvMwFdtu80e1l_k2EufZjhLj95-9wO4XiaB3RQl5fN61n1B3rsyDpRrt9Mvva7coMwA8gwz768zAtpnG-1l5AIe4HwavbyJs6F86yoxPtRbJDiWvBGf4QPK64qttGXQr6t9n_EMwFESQZEBYATKqUssugV0aFPl=w367-h815-no?authuser=1") no-repeat center;
    background-size: cover;
	transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://lh3.googleusercontent.com/w1FZaZpDnI-wULK6yfdVFYMC9f0kakpNdl9wj9Fp5Jkwp6zAg7OzlVUM9O0ssdBGO-cXtkpKHSs7jfyWkqtphYyUry6x8lRL2HOPPlsu0_Ux7C3W-NG2Go8vXO0h8PxaAeeXxJymQg1uW_S5zR5MyUiPjzhrXGHTXdm8Vx6eoqiHX9moIyPzHqxdp6Z2U-ye3C7i2YtLF5g_FuUIPFZ0XhfOiEUhw8pjqihb6kiQfm2OjW_C_rSK0iBZq9pLdA604gRQ--hilUU7rr3ttfTFHfhsX4qVr_-YhkGpqHrKz5AhLSEO5Bf_gRfr6dfrmPJgfo5jSoGOvRkVtcjwtaML4_C2JIh6-Kmf5KPcYHdsrGynRnBMIWdM3QTzEswcJW0h_drb7LItRl9dM33cizc0stFd3WjfPbDCFM6WYLK5bo2NbVJKMSXTjdQe5nD12tUOCn0AC9tERT8bDtsZ8O5KKJKXLqnMH4F0iz2tIB4uUcBc9GurM_83BfT6rlLEo5gIXbvMKtnSNfMcwQOw0Ozkxb0bxc58YCcZtxju-1WMwMeRKrAMuCJgEIyNsx3cFuQFlmMg8vRPjiNnZ2rZNeleY5uPV5w-HbikxG_LCpzgMCPgEF-VyB630ABRUkgPZeOVtRdEJpRtvrJPyQW3BP0A1Yr747l44F595eoX-eBJTTgA4g1SKSzuRZ24d6GE9-JZv4DdZhfgOQ60c_i5pLZsg9vcXwEICapt6xslvINS_DQA58ZnMHYXGb1sKeyyCbbyf5HWkHlyrEmzk_MDBzgS5IXQAtkebLP0OQgAnInGis1MrHK7M9b9vlbMZ3aY-jGyo8Jw3Fra0wFUQmdgioBBDCtToRbBhxG_WEocTN15XdtbbfUJSJTx7-_dtdT2hwbeg8H5WHOvd70Usk-1QzI_PyIKWd6UOzlX7JsRN5Is84OL8V6xmT4Bbt--l3SUgJ0w80yCG4ottShzqU6Cx-DUDX8oqQd4CNwuNvY6-V8IC2mrE66OsbvRTApyJ7U4qQmxpfs7DxmPZpvRWWfgHBUkhC7QOnkP=w367-h815-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://lh3.googleusercontent.com/NE1jM6tZuMrLkFrAhBepog_Q4CRtqaZ7EKSuRb2E8YG_Z-o0EFdtUU09Vvz_-tt2r7sMFTDG1uPsz-IldbY---sfJ0kBPq3IJOj9juFS126zh_M8JeoKZ7Y4Lke7jI9627KMIQHYNa9yyEebwJPtbXhnLMeheWeNoauSVQy20pfES_efKsk_uObv85xgs4hSLbafJoZ-NhI0pPQoEMVPl46I-S_26cTUOqYO-l_EvlTyilZtWCinPeyynr_j928y1rSRdv-5KJcXNNjQ_azwoqti4KId9E5w0daUOaAB6GA--Rf-dq1s7To8xPdZX6nOFPwhpgWHjl3yH--LNwx3CIcIluJX0YQpWZG-tPGd-lNBiS67aw0OGDG4DkLaVIMRJDEF6ELRORExTiaXyMwKxwZ_cSu-blj7TSUoa3tPNhwsBtBaVoIzHB27ZVjwz-vWRWYz0w4din9Y7Z2aLanRNIV_JaVNd0piRSuwHMe5pOw7_3C7zOL0RNqcVUlDW4da-Rh0UGLwvKkfF-in3vXDvGiyu5-pKYJ_weGO5Q0WKCGut0yPjxyMHYK5B5ZLbFHUGgYuzT4VijplBrMHU-h_FNU_TLLVqacbyBaDMomao-rAPGaxKEqmLo9xEBKvERy18zz6G1ns3L3tP0qm5eEWOk_HB0rpup-E1P_YrHvGYU1L0pWfojw9d_jRocvAl9MQM_t4uEKCbkccs-dU9L7EwMMwHX1JmM8EtVor-8oGpBaDYO2m5Mau9kQiEaRyEENml4LePqhKjbt10y6L7m33fOLzTJFsQ0ZJxEdSjlplSJYFpmNbbYsbOLpBtCzmAo4zOUdAnKKSLv3-MYp2ByndYR9QIDBMGJup3U3DY5WfRGbzs7DXqrjgoi4cJFHegfLaheEXzV6xpyUi5b8E8YiIAPYUBQ0xbwUhohRwdy-gmV_S2LsT0pP40rhvjMUYnItGVoeOPpoR9UMBAMv71QwgtMgMh7wchlSPX8fiF0g1zqjW3HfWoOoa_G0UkZ7TSbCX0-l4alvg9SuwoPeNBKibu2BvwU4x=w367-h815-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://lh3.googleusercontent.com/Nmcok7C6W7GwS7ndsNdhoHDl1xGH9RZtYkh3GFhAdnuzhQJ6yzs0FmOEOrEXSs-EyzvhBAd1pb6zMCvpAQRlxJkhfLD37vWxUEbAtXfXU_W6-BWbshQXouxi4tlSk7y-6eh5yOyiRGdL8cFpJABCrMyf0RJ9n-wEnHjhDtBdbMqdJ-z9ZhvSDJVhuqmLv8oYOoXpOXOn13o5fNy1m-uC-VUHZBDg0U2hfXVUzt3POdyB0w2er4d0Xq2DqMDaVen3qsAf-yia5IenWukkfrE4sk2_A2Ft9E0k8IUqbjNTKazbzrDV1t7TGAt0Ii1LR7O_am-vJ4ZqB4DlopQpZ79pqFASaRG-yGZEJY7b9TsexIXMT51Sl1xF9vVP-Pn79m-e2mQuhMiStH32_w_iwnLpgiGds23NFXGAIoQdUlfZis0xXbZNUzlrxMn5INfNxzfx3WnX22SKgdUGBBiNuTHcnmzfwNOB4Hh84OIq5lZruEsCX7Xes8BQeabs1psayMbkZlqz4NdP4aoCeqDuzLahz32K7FNQtJA2fsSy44gb4FWIWM5nfZFtSxXPlKH3SX9BndgwNlRD9bI_cOPaHCxBhw-aRMIbQ6NJaTw2tAhx5VQMXYOS-HBj_nDjTetjxcjE4EM6B4jRhO9pvN1guxBUi_EIzbDpsqCDbT9edfRF-z0nHQXl62hRmlbTfZ5QLlDoKMPwb-dHt5oOe3_7bi5Xig3jyfKzj9HAEjQ_LYtfP8FaeaQUXRRxqF3B1eG0go2HIYbTPAkqNpHdOya_fPKLP9Ne4voGdw1V9oG9bDUgJkou4qFouu6eg5GtWxErRZHneMsgoA9Voh_smo1XLml6oaJo0drfxG-mxHX6zdil40i3F4wIdeBlqu09mwplKGKUC2UeWwUJ4YtUFqjmCpablaeA39uNa8wSZt3UHVDZjMhlVEcqxHc0zMeLbfU6M0CC6jY0JKwf2UWfZvL3tODd3bgRCHA9FdOZMy_BSjE9v0mLWUC0jowxF1Ey_A9kWL5VEy125m1zJEVKOke-FdQdfVBykm3E=w367-h815-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url("https://lh3.googleusercontent.com/x_bkfPgQKIBeKjznTNhePJjfOQ0AbJmNTJg6VQQK24LtPO4zW0hh-pT2830zS7pqXN480kKZZ6-4-DosSNwq0K9mkFBynaArCfeppDE6NqDzUMT4M8WbcQBCTCDeQgr3xLBQdakaq8RwsfmnDJvQM3f-znR3eoiHDvLnS999D6-_Y1l83sm9vx855wW_LOIUqhymoB8uOzdwsvreS2VoSenn3gLlzLUsJKgDGn5hKx3z2YSy83lgNk-y6PhjObFF9RGl7IZMacb5vM_EnIAPSKy-EOYcasl1O5Oks_TkdGVa7DrP1D36mIGKhiZ0l297DZ6IJ1b3OS0aEdz_UCYtfj46vVmEFMxqAZbc5d3c5Iu7RKH3yN_qAhJNVWXd_Byx3JW44R0R1iKB3d9V6WuxeOY97ws4exd8Utw3L7OefbwAUEtkWbCeUA0_7giTrVK92qTPaMS2GqxsPeSd9RWEAf7yM7IZLR10yYAbIVt9w753jD3KgxhWuDWFG1CBdpHnuRRvEGQ2vmmgKWwCOX6DA1qdOljUvt-j6Rl3H0JKc3hUmJr-FjPcu2S89P5NrG-GBCcgd5GEznDe6DQqls4R3gRtSnX9bu6yItXQdSUbN04uqwWcG04y_-Juk_s9uvMjRU5pbQOMHoHvcS0jkpnLkTVsX3Fw1D47OBCMwgPx__iSvluJwxdx2_B4RnbU4hhipPUrzYhXt2uL6AZjAJc_Os0sUo7MAaMsInI7_Xwea9Nd57HwjORncXm7V6QKsteCx3I6qQ1B7RUNfV00VqHuDhzTRwQBqwVgAVJjtT92DGLZcf3BLk_Kz_Mh6pJj8WRpYTt4ryPk402kgPyFQnr0zqOPgkZUx_t_S23IqeU3lf6Fw9EldDzbrsHowZz29CDEDjJa2m1d_u5LMKA_MfafocRBFYRsgeA0B72SMiU5YRIU9C7xOLXg-kDRB7Ydoj7yciEwZvecx0inSQypn3h6stKt-U_GbxPW2gHFy9tupuACCkNsOikI2vgs6T2nMZ8PxY6VzBsN5vrQivepHOc8g41zu_57=w367-h815-no?authuser=1") no-repeat center;
    background-size: cover;
    position:absolute
}

.section-products #product-6 .part-1::before {
    background: url("https://lh3.googleusercontent.com/3dZRXhlyHkcZaMHsu5BNtuFTNpYLoE0K4RANbaJLDCCVwVss_NIGQ_5ETFYDreh62SlUH4_HG1Vb4OdVjI2NzpukZTe8mwJFYJ7t8_UNIbRXiljfc7UgDuUqDiiJzSrAam6_4Nngwrk2whawYZakbWxQb3zihM3y9wUtPPjEYUO01P8gLf3yEth6Mg71y3585WRBPEEwSwV5MqUOu1HHIJAV9R4TUoqnwza5R-WxI6PSky-qL4I8Tj_1Q65473nUXoY_O-LVXl6Lt3sfXgD8G_JttJMopgfQr4HfrH76FqicVAlEWl4Ihzqe-Fz2pOV1unYlY-huPUxLOlFq0RWD1cqoS8z6Eqtp9qdgZnz8r9CuB4sXLDEhjIZeTYSbo8TJnc4cJEZPxpDkf6U_w2QOZ6jiPK2fRsa0A1ACPXZ2XF62UcMUfpUk7XoOukcObZeMnOyI1YTF2XWrqXZkzsxi3rv29ONIVIlzYbj31GOUSm9D6OxNdtpwKbe0mJvga2tB2fKRtMknSTaGlIGRAoC3s3gUh5TYaJXWWxjwHg8X5uBB7Mvxm3kAEJpinK5ce8nGSmFWFpRIqVsMzc7rGKHcyop_310audiviN5bK80oRv0B6VKR5fCZ7r57wknFVDyjtsezBlY14v3F7lhdCQXuo6O4HYo4sNnzz4V3Iy-wJYBSQGBlzYGHox6PtspN423Vh1imVuKuq0cPJANTsXf4BSWPA3sk6QfdNI65v45zxIu_O0zZeg8uzsSbm8tG11jNqAqJn4O4UsOlDIY7rjWEnniHhwY801WpuJjhLnqFstwSdncXRKr61_OCtxE50OCQk7cIEueiI3yhrL56IPz-QQWys4kbetTQXMK-w6dDI-jgRWpmdw_515c5zmxbwYmHVIPZlonBtkQmXAUWmDTZkOoA5MglbSvJCi50MLI3JaHljLmzl-n4mPBdxaL3jP81Yg8_6VQcCScaKMCkE83iM9mxF8wnVzJPR7oM8Gve19EczxhEThqsLPWqvhp53kCdbjLSmBXDQTps3U1XxAbpzqPoWkeL=w367-h815-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url("https://lh3.googleusercontent.com/1ctXRAQjnKywgzJt2g4MWFfyDCROGO5iuLL8HSq8Ych3cwVJy1Lf6C94GbiFPymYB7bBZAKf31ykTZm_1hzgTk7lUTUhIKkNRRRy0nO7GVMpN7apxwukyfwZl1eXpE7OJZrjqLYJVZQfV-2J66ll6NqFbW1RgS95dSac5Jn-FlpWVX6Vj_0XCHH4swipOY7WA2hnKjuowDBYWByBAJeiHCUOCTpAAT1utuBwjdnhGrMRrm3mLtXKbOC0YdrLhMsQb5TS2ZLO9lOTNhYzY-xGDce4vlgrFLoV91DLjW0vMwlt2p7X9JSTneu9AkDDN5hAPBZQdfmbkCUnDlsW-5smW6ljJea_rnZ8FhQXmNBz3SIP1B4OSGnsRvNJItev9wiSNcCv7oAosjaZa2WD38PtOsevnvBbySIXO8NS0SjGkqxAvX7smXboDeu_CKOxXjIuWbg03T4cMdyg0H1cu6G19o4C7LyrW_m3BG_efFa4NsilXspC-7NlH-qizL4y5dzH6ywF50iGKkcLYuxSBafFpA0l24IymTTnI0kOctIBBIhiJ-TTvKIdFoNszcYFngP72JpsgQWmNXhUR2a80WT6sD9gcCoh2H9Uh0XxeuagMP_gKLuXuhbCNKjAk8jZQj0rNZ6G3HlolMgqFlysCmNRPOfXvbCPOMSMHjSu3n4L1BSdnqA1gQf3FMpNY5MUHcIW_RcWZENcHyvZra5DvnFsLroTIpHDkTAwp6wPeBmPeg87ZTWOMth7eWOvgI3IMg0aE_IDt24o6QsoFDYLDdaUCs1rs7iJLiNh18HjRxcWnVEkrG8G90GDHsOQoGrMIEt-xoXkUYxW0HgBp-5jD7QGavme9D9EEOmWY68-fnFFh31rKWp9eBhhocxrD7Fiq3ixX4Z5uG5sWdab6GyoAAOqysahLMrF_UqQs43P_ERNocsDLJf6s1ScJpMcZPdMcvXhNJBJOsd-Tv7-fvRJ9phu8c81OqV45KltW6d15umB0DlLhz8MHJO9jllUuGk8SZmkv8xkYa2pqW8H1p6R_ClpUfmFme4R=w367-h815-no?authuser=1") no-repeat center;
    background-size: cover;
    position:absolute
}
S
.section-products #product-8 .part-1::before {
    background: url("https://lh3.googleusercontent.com/Qxc_OHY_41HNyV9P8Dj46yFm45q3rDkHbqSEH3GOgIc-yZ4CIayoLwluegOBBUF15j3Er5A-oKAxXECvre2BIH5hukRghIFwpYocZd3zzicktGEcXt5FPFtGBQgvUOlklL4X_lAe4SNK3lGvcQC9ytiN7PGPXLJiUmPRi_dB8bzb_Bu6N4ICC7EDSIsMwQenxBWfctFpg6h28n-7Na5yjLWlHx6eAssyPPH-6TJYwjFh9rTyTPNAisR-tpaPnoYxMIPNrb1qkmkbU-WsWi56l4rdBMzZw1UsrknXdv_cIG2tyVdjgvFqFt-5bhojAMeq5UqTbmSnTL0t94EwLkc46clJoY-p5fTVArJ2od4L9WICzKiSrtpjT9vo0AxEsdISdU5IivKdrk-UcVgoto5UrbeaXCYzd_Ok8bGn64Lr38CfGiTXCxr7pp0irNJ4lQtFgmso1KP29c_RnP5zQ6pN9dqU9HuDThkxodw5J4cONT52eALrpzm0-bQwDcyf3x-zLL7CV4qggv5CD9JLf2I98mTAyl1Zh0BKt1OvNRn9TZ88e8L8FcZw1Jmko9Pjc2EygA_w27QawMmRsFWcZU9eLiEHcKvRn6lStV0IZOcwgjcv0q58GRbPrMb8c542juabc-rV0LAnVbWiYj51NTnmxnIO6fbaqg1x1xQAunsi7hBpur_nkobQrfxsoA-FhbSflI2YzUBuiZCMgf4s8yl6H8Yzl0cGAZ1s3ixaOKfxsrp9Jb70Cl96QcPaMbkMGcawkobY9RAe8EnqLdllPBoNUuZZb-Lb3_JNG11mg6phljGUJqoF1h1VGy5MYWV3a9YToxN32lhyBzQqRYZNMBKHsIKyAZ157zdNw6-mNxkNZQ7PKZx9HIl76SEMijfuvFr79qg006bPdqXE_3nwmtoyPzSJC9t1orzAJfg2P1vJZLCs59d0lW2wh0x2PL_nqdztax-62c8Si1MoUdBeYp28H5eevr1BfCkZT6kTCUur073jf_d5vUjvNXZtuwlquLR9FxLu3sAwAURnxv_EiTnSwUi7guLT=w360-h798-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-9 .part-1::before {
    background: url("https://lh3.googleusercontent.com/JgbNjyooSqTpEpYu3aTE-1SFtk0tH1IwFvo7CWtuli214SQv_jzIoSAb-EjRX3uQPPrmH92SopOY5MPyXGtgbhLRhOSnkSg2bFGzYy1b34XvTsmZSKs-qUWjIiIMJwlvXgbTLtuXHPxtshlBuKde2uW3f8qxwQNcd0uSX_waS9M-PfXNWZh3oBDinDmwfXazM6Kc9NmjGmjhiRUGbLzNzgZO_MdbUlo-QfQdmso5osTanwAwdd15tQrfhpYpvdEGZj-spmxyYl5gs2sQGiEI5jUDmQ4EkXvLuJj651PAMtLE_jq04bfqs-nUSwggWmoYGGIHTunJaeHCLkQug43hm6fLTco1IJW1Zs319RitT7cwRvadcJEtYUurqTC0v4TqGOenJ7BhR0lWoOE7_0vVGr79IyMn0ssKdnlgPtZf7LZGGO4EVqiHJUQdYi_yZFwIRlbt6Q5eMp-bxyFn0BQ4oE8KWLEuyqBC46ZbXPHV_ZZ1TTsz90o-Wl6dpB5CWvGWBFHLwxbtuCdmV5TMUBPoCZsB_tcMAncamtcxKrsEwD-Zqv-hDpyDeOfgf7_KmHypTsAmoeBBZtBsUGzIVD1way2SUS3joaPk4ZZ094hFQ3b15Z5zPmmK1HZ3_fTcG3nHt5chDuN5BROh4bGUlt9mg6KsEhxF7BIxv_rtujHWpu4ku1XWeGyuTKfcJCIVtV7ak8In0zCm4r36ocGux0rpQLiAwdqages4Inu4zoDyKTvTgF-qfDdNkLbBRJF-m1xytLTg0jlhWqU5P_0Sx0jexhO-oU5oPGqVPU-yBiUI1wfAg2i82CcekVvef11mCsVkLjF0Tjd6EIfZ0yNSzWiztHpvCj0ZV8cOsmzQ_DwfSYh18mVHWkTh5IXu7bqQN7Qjx6-Xq3yVqEL2fn8wWlMffkLNKbKsH2gyDI70S4UXbkVTaCXaDCEXUDWXU-wRZzZ3DvnTUZ6DccX5nFxme3XhqoOUqA5q0dRI6yTC-Az6jB8A7RJuFMAp05PNaud3TnRQeLgSTDBV2-TuAXuQFWDFw-7M8Wws=w360-h798-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-10 .part-1::before {
    background: url("https://lh3.googleusercontent.com/QZtGY5HLCxPesfgqMwmzMxv7CF2xCsUteolz3HrKn0aCQWV4-mti_zfDqC0Qu_H5dmUH1HcyYbWMvnn2Yo51m9PzK_EClUyTE29n7yf96IOySABYaUkTYySQk3HqpNpkrzQZjChY6IoTFQXN6bMTyZQ06M79sC91jnefgXst_36Ih9joBKcDANp716A4_Qos3LamuUJlIn7vKN7akKewMky-71st6JGCt7FrkGq048ATDknEWK0ZyVGFQ_0iWO4UB66hs99zg-WcCZrgB-bBXg4v7YpRk9x3DPZCxzg6ismvzbIIJundGK-u_ngW_KNY7KMbHgXzJuwRorkIIqbuZFeGGRhJ-l5RDarNrYyHTWD-6ziZOjC0nYHzuGgleDidoZy-QmRUbldBQmbdMRtzZ6Sw-WJEk7_QoOOfcX8VCSlDNjLzvMk8PJwB7kHbp9H2N3FG7wAbn0dFXZFO95eeuhUzL2isrET0hVwMoz1ArSUZyseb2pCrNU93nrPp9w0zuk80RlpiS6uydBHD1wsbls99yAIEsgBDhHWEkJmyjevrK_fP_OQ0KLp4Fe2AcpuRKukmBrks8lDcj3dfioybf9FQXFqAhfLhPU8W3wSes6mbFpXunqvoZhvBjAUInPzTBlH5YRjJkku2v_487AkM-0MoCve_U-9DzVRSTLpo3gBZhC39MqILd-pszGT4b9oHqTRug4s7Tbkpyv6MD4XWkbJag7hbLDIr8oV3zxnu7Ytm2EaDFzClx9_DIxJbDxuZuft53quvSpI5MJ7p1rqT0Mqoh_9lTCR51SlGP0rpblhNxPtztz7tGR9_xHJDLSEQrpL1wb7NzWAWa4MyTXspUDjyW0ofN5GKQ0lircvGVYM7sTw4yDhsGEcCESfl1odmLL6cRkTc_V9wpDbpOMXES5EX40NP1tVKFLXYaYrk1fzy2lyXlAhO-0L63sV4rkclUjizimM_EUaOrLooewDJLiYcCWNf0ZGwc7aRx939CBY74X7sB4qsRKE06TsiG7oOj3uu9BgRHkhTDmNb5O4SnvkCEcWa=w360-h798-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-11 .part-1::before {
    background: url("https://lh3.googleusercontent.com/iJtLx8yT5ZdZW6SQpD7VwyQETMwxtv9gXYdRlKWjAXh-oh0X0lqAF82UNGmR6Ixmm-QuAK01ccbM_cSwuZWlztxMkh2mKt4R5zXRGXNxfFOMbyXwgUaT9qEcCiQBLCKEhDvT07555q7ljiAmAD7p43vr5SGYSePCW34apIXph86qnRrpPfroiTi5nLVJx-FipR17LBEpB22trlCnjSVNYa6VBlk3Fhztad71OE0VKXQhwkB5YDMlRzKdusU36FoKjMkITisbVvQhtLO0gPrvcSmVRZEjH9VRRcyjLmCNYLwFukhqy1FgYGquZJm8soY0irXGETzdz1Zt12797hrGBA9rPoPahvH5rvW82wTbQbOEXD-IYADqn6NIYIdhFat3DeoSkQz7M_aBc8ogVO_HsTAF9vfN36vFWJjBlJkvS2HhuDYIHOAmyoFubK6e_ly2nWvsJLqXe2oRT04AjSCv2OO128sUa_vlSMQbxfJU8J2Lj-yWgdwfQE-vVReLwCpWNQxgjPzMA2tIfAsa_vo_FH0pJOidxtesu_tY4ZVqdgZ0TCt_hTgXVIcSbWUxPlul42jGGd63V9Y0B0YBvenMCpUqDIRLfQoVqHh7TH2GgzT8DjlIGuHU5hnDYKndB-3xzoSCWoH2-14yWpZDznNJcghBoi1H7slfrbxFciJp_WIj-vHaLSzX-1IjrPA8reVQxVZWGkHZrd2kKat2O3-QMzG2n5PMRDPKPovOP-U-tRWEZ_ij6ueFFvP8UFH4KIGI8tklNWo1cVqu2hVRC4xL5VqcQOoNg5wljCX5qTXVG5ZwcDXkbdI7H97ZheddnYgkHM8Ji3epXdHHU7FXghkw2uzIaM0i02xoUorILGW5gbq17gPD0RrrbR9kvPIKpthQGV8c9M0TlIFtdpYumCsPR_dk5torgeHe2TG0kky7dmO147V84M5WqfXSISPcQ3I93nkFz1jPb9XnQQ-p5pwCWyZVrxVPD-F-p_GLTlQUlftXGB1oLMZQM6lOEv8y31BtyJr6toO40SQxBGydRkU1eq3J2TtD=w360-h798-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-12 .part-1::before {
    background: url("https://lh3.googleusercontent.com/ajJPxjXI3f_YzdAZv0BELdALccVhLsaij6CDvkc3Ksf3Pz7hY2KsIW1nlueoFgvEdjA0VmEGNIRxC5bpgN8TNHaYboIT01f4__oOXc5e4FkCVqI99gOeOoEn70XNEfBUavg4AYAqTdjEwMNcUhTSQ4M86-jwX1i5uwm8cfzMEs5z91Ofwb0QXeii0Gnz9CO6525CA2x65kkOL1ff-SbyGLrclwwfySwHATQIr72MEzoonu54RuBuq-aNyjuIAkXf__r3xs0PhmcnorRIBr76DIGNfvROQPe_m-tSfyIeiLGLdybItuyKLDgEEml5-_Fki7YZdLKjgN2pCX-MQF283jilo_zt4qxwm5kEssYoafe9QPa0B3NNmOZGGjTIbVYzkl1yEKy0C7j75kylrQ-k1w-LqoyF1AjtCjpmiLgCCb7P4Rq-pCIhYaHz6Ab3kGLrElGJty4YGPm8UvtsOdXWLdLMRkuT60j2XA_MLE_erPb5AKpFDuapn7QRekpA39sb5v22RUkIInv0m9MOvz7YIWVl69a5jY3dXBRPUt5TdwKr2sIN3pHdsjODVF5A5rtdCKyRCpB5rXWeCprc5Wvvf1kLjjOrP_wLxnHpfTBo3UvpY1A3HqXcNTE_vkcmh8XrnBB7T5z6O6OVVDmY88_xV7K8Bs4xXytc9P3zGuexfn32pZMxRQeH8ROiWc6UYqZxRNyvNlpDb1Z7cLJfoAl0JSg1yAx8PE7tmz6Ym7ZyBTI37K5CQa5_TSoGO8x407BPA_2APrZG58vUgyYcjs6Up0Tpp_5zld7DyPpa7aMQYk2Zmdatylp0Nh4uQa0GmHe2XpjNI669sfxMmdVYrGwJpJsQKfqgB4uZHZoZ_B12-WvBRHmPVRTKSBv_GW_2VoPqvIZpjfE6C5DCqi4UwIeyWGmj5g6qnVA_ATMEe7wCAUvyqL3rqVi33YohWcinHnFm9ek7D0kRDm0NPNTRsHpIfckig4PfwTJoyLcrkWdCS4GJr2n86RYE4jHOKFCNblJtkuG8C3Hc5wR2nhOoonDE-0ytK_3P=w360-h798-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-13 .part-1::before {
    background: url("https://lh3.googleusercontent.com/jcb1CxS0FhigsuCuPCmWqS35ZUm_nGaL-VRniMiy52L0140RIQEwCXWb2eZaNrIqWg6VSLvMXHJfOhFhqUM2OCoaiHFEu7ApFQsB1Hsg4dzr_wXQEJy3QQukImePHr83gajFLJxaQciMZVcQF2U1tx37cclB0MqcmI4xic_1Vd9zXjJm4MQJAldTnu3ToqGB1SQoj373Cii65iuDuLTBlt1Cegp6Aa2Wf7Gx6wFPQ6sPzy92eKEhg_iOh61FpaBJnupVE4eQDFeMiVZ3rwbiIT4-P4bo243o1UyTF79hs189fFIMRZbpnN1yAPSYywl3tnHTaRf_sLgsrP2c-TDYBnRns-9TPEhfm7bo1tQ4onIOWOpmMVf9MWQafG4klbAP5zAfkQVGcbOtyyoigy1I-VZ3uMMCeX_CTtZ0HvcTE9UwZ-57B3LjdeFDAtAbTx4hUO24sC3CrnWDWAkcv45-S_hfq7Sii1TJtpCt-itdeI6mU-6tH0APB8okHsdMjRVgtSCfcDJh5kxmUsNI81-ho33Yy6b62EPuNUgdBq7JVlHnZa4Mz9VvERrJbGgOyrv75wP2w6BXLm5kzyZedoJhZmc7jyXQY8U_6K-gIdmk43kQ7SRP6DbZ2WklDFjWHMKYBQTd55T_ajex1HMdzoiRdr9B1hhBQ7NrmH_KpQ9ePG-ztCfKjRzDyUDA-vj5VWBiRyoVCteC0QNMy04rSZTIRbasyqRlxZlEwgELLDdvC5kKyhmzk6kkXW-7vv_khC9WXw9Gh7U4sDOeJv35fo7fSHhgtdYW07x6rAijb0irxNbexNfeOchefQZtSpfsc_CIGb84wKrvR9MIAhQfM0tEGbGk3V-y5kC74pq5aNRjB2sYu4YhnF9iPupkKV0hFMPXTlD2iOjZEkw9P7xN227Ush6zcA1JXlGdGDuvuJV11WMuyCJIYSKX2E8awpZt1_wuD48uMU_OIinQ8djFRl167_cp0HjXHfzUS5k2PB1mtbZ0RJncuFy_DFhJ-khhgzPEHSksEK3YrkGreVAYjgH0ieNpBLnH=w437-h571-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-14 .part-1::before {
    background: url("https://lh3.googleusercontent.com/6lw2TFm8PTsexsrw4tykOWfGZMIbuvoNYjsHr4INrbN7RaJzmm1iwpoLfERK-1JmOJgZMjJVHvNtQh8hDDT0ODVyReXbl0awRap91HiA3roGJWmKQu1s-NNc6bq9UoNcZY0ltJafBAbwJVrS8RJWZdz_F7uVloPRnzkyrjbwzCEAkZay-QNyZCBAeEVOLT8QJYHLyGzaAVKBNYhQ_vG7mvbZpZbsn_QsGXzMOaGLYt3r_WLQnsVRWn4SmEaJKlNDcc2e6cLd5DvEUYRO_hvkFZYQdOoHtkAVsZbWMoJn3k-sbpi4dnmHxrGtUhcoElEWinILhaBclWZh907HbIhjQf5nv9lUxI-dHofIB3P6nO_p386o9HyGDUaTUcpO-pnSNLwOXxE0o5VcrkKZartqDJGUci5CBxRktmWAeBCKI1ltXMjfh4TsmSp1n1H6ahi-cyoC3sErEz2448KZ3ZzmWSrA6IfrgWe6-NPpTTdzSoOnvU1iggu4SiIEzRPeOUtTkz_qgKxm1Yb1uSJ9GuecFLwrVr000wlBz-bltPUCsPrhV7yONDshjiFct_e9Yuqi8N6Czp7hsCft9MnGgNMjA3739BFuZog3Cg25YhbMo9rW5Ckh8L0aXyHF_tK_eHk4RF9GFcwYqXI840ENTcPq-e_Z5X8o_LORQiHKlwsO5soVI-rto5Mgxfo0eFBeoX0EME-wFCQY5iQIRRei2REQGPLtj2njzy3jWSWHto3RR2TKiZ3CaFiZUkVOOWbYkPgqdHOfkf8ISpoUu0maTCzxx4Yr2d80n-bis1PXgP2w9BrfnXo__6iHGmlVZEAbIG1_Ai4TS7VbZC3qIzJ0FwgPGh5YZSSyYVluwNlMEbVDH-HxVD-6LArdjrgwNi_-1oFkIRe3ElPmmet3xLwjHowyCF2-CzxLlWx3OIXc29pE049niEjho3xhjEhhpQBVAzHptFPl26oaZx08_SopobaFI_fNVN-TbuM8oRbJizfLi-j2_ZZDFdGnhC_NK21Zk1FGK6x9VE-IFAux8m2laeJ4m4T5EdUi=w462-h540-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-15 .part-1::before {
    background: url("https://lh3.googleusercontent.com/ROV6L-hm9Dnr3vDH1c0iq5oaWGPgu-axDEDedSPdU3pdAu8i0ix-GGftvs8I8BPd5Z95UxgOt_N31qFMEzZYDSyrorxBXOsjhKN2jIR--6taU9ou2jaM7D3PhkVhgWsT8-DuHw3QElZZwgiTTv577uqAU7b_O4lo2Mp1RE9oqWtel0YTI7-U_Jft84UzUXQm3-mtZicZKIswjHNY1yU-1SF8-5CMIseEUVjzYaCbfLsV02vXXtPB428mBj76frOcvAH1-7NinwFzEac7w2a0DBdKTZVFfWQEkXWW7GSlw15r7e9WMNQS12YQe_lP5BFlFoVR6D0B348BjxSu-bsJ7vzdkyfbjUBccSVq6xgLvBsR0K5eDKsbWho4451gBbpRFMoQ-7Pd_4Syx0RIWk3OsoySHr7prDyXJLRvZtKwDhrErUW1l0F5AzNl8RRfY8kiFNCYSZ8iveJrgXgd77WZQSeHcxXShBFfvl0k8QwuTLibRjz2rODv9j4cNWlDATgOJP9coZ8zKoJWbmeCv-f4D2l6wwH6d6D4sL9g9EjsXUQUUq94ORcO8D0vZTfWubL_9bylr2e8MjmQSyuhe6sIz_mTLDip4SMQNqW3eI6EtzexmYsBktUkjT3EAqvHWexM28YDW1fcmd7c5YXfZbA8xYt5L9ItwMu95hkRQByiIuVqM1LTo42vSbFqf8yH1qVwtPwV2QiZRGKGLPU-ulkNUD6ASVrhcZSs1uO86bxJymCUc6QaXxE1oRJgAjRjoP6nzaGb0wsnFDX82R9soE8HadyFv9zcsXfnkv2JIFt1w40aBEO_rm_ekHEqMp8qHdYCMFHQ-KsC5clelxHDP-2hFdn5lI6aVxrIDbJ6iX2bj13kKBF9HzV3MTiiNwfFKGwmXWEyqy97GJO4v_zz_BbM-o4_8VKpPwkwW1lDff2dWPpYi2z2AFRFZAPfbDOCZrMvqKIuW1894qrJbjB9WNggWERpQ4rP_XPq3tTm_RwoE5OhJK0wsUWE-1ZJ8qkveHOzjjdSssilADc1898vVqRS6Vna-ed-=w423-h590-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-16 .part-1::before {
    background: url("https://lh3.googleusercontent.com/Y9OZYnhvtdMSxFMhInyzPaSSBnT_cMNHktQgRIMsEZKwJc2CuOvYP5gug5I5BQCgsA0QvubR5aQM_P3Rs79DbX3tqbDufaItQIYgqkZ61QRP4yV1wA7zOmaqbhXV78mQkPAt_WeLJjffiZGgkXjwMjg74N8GP9CsKMp5YRbmUeJN5-lbu--Mohm2xYDXaBtAqjWTyLX-5SKnnGlTo0Zgg2y-Bkh4h9vD_QJV5fx5JrQmC4vZQ3Y_y0X3C9UBBppB_BG6GzXDviA6BSSFFWlFiUlUwunrag56cNX76776gdldXvKdzGFKKTqFTJl8guNhpUWKFlwHPDaUgT_VJwmP-ZIdUrX7r3Mh9Fp2hxGGaGn4F1h9cQ3Iqsjkg_g_CGT64gMvNKxcJ_CwBGRqqWH4OKivCPPiFvfhUXDaCJs4NgdtF2Yfjv4BbIlgz54VpZ_4SScOvbXmjYKxGEAAyFmIECV5a0CfnFfad0L_gdUDZy1DZn-yZuiW2ONpl6fTvieASKTxZaFyLL2fReagSswpUB_ATnsjtYtehK7PWOLZnfyuMU-z4FnY_AOC_nGPd1URL7L4P55Wd0HLFfSvzPmqyDyKgd049Q4e4IZnSZGctI1cNHpPBwznX_T8O9O6Og40qlA1msUmYD1c82o_ShVZCfuaw_9hNCg07DV43VcgZTtZWtk2OE4WY1EbA0r9tJJViJwAnhHDinbJ314igurT9MIlnrSPMBSixmE4z_3DB47LmYFNNet6A5fCDo-2gBWQXGMuTCsl9iR7iVSOVKR-R5MzpIeE7QjSB9jZfJiUfmy2qa_4YYNp9R7A_3Y5ttLEN-fj2_XfEtSZTcwsFS72ILAQ0IPxcidbtvfync87J3ugOYN6VBdHi9MM45ft8c6NHzmpyql-sgmsOREkpmyPWjs74XDysMCuF15bcdvtZUQyfW5uuH1zfAbwhSFUJdAq4fS1aJO2jYugcI6hosyaK6VVWiHVPNKZV-QaZ5XUQnTs8etNO3-iU32EIhnN4kaQwsz8hVcp_qmQZ5-FrV0fep1-ULfa=w451-h553-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-17 .part-1::before {
    background: url("https://lh3.googleusercontent.com/Y9OZYnhvtdMSxFMhInyzPaSSBnT_cMNHktQgRIMsEZKwJc2CuOvYP5gug5I5BQCgsA0QvubR5aQM_P3Rs79DbX3tqbDufaItQIYgqkZ61QRP4yV1wA7zOmaqbhXV78mQkPAt_WeLJjffiZGgkXjwMjg74N8GP9CsKMp5YRbmUeJN5-lbu--Mohm2xYDXaBtAqjWTyLX-5SKnnGlTo0Zgg2y-Bkh4h9vD_QJV5fx5JrQmC4vZQ3Y_y0X3C9UBBppB_BG6GzXDviA6BSSFFWlFiUlUwunrag56cNX76776gdldXvKdzGFKKTqFTJl8guNhpUWKFlwHPDaUgT_VJwmP-ZIdUrX7r3Mh9Fp2hxGGaGn4F1h9cQ3Iqsjkg_g_CGT64gMvNKxcJ_CwBGRqqWH4OKivCPPiFvfhUXDaCJs4NgdtF2Yfjv4BbIlgz54VpZ_4SScOvbXmjYKxGEAAyFmIECV5a0CfnFfad0L_gdUDZy1DZn-yZuiW2ONpl6fTvieASKTxZaFyLL2fReagSswpUB_ATnsjtYtehK7PWOLZnfyuMU-z4FnY_AOC_nGPd1URL7L4P55Wd0HLFfSvzPmqyDyKgd049Q4e4IZnSZGctI1cNHpPBwznX_T8O9O6Og40qlA1msUmYD1c82o_ShVZCfuaw_9hNCg07DV43VcgZTtZWtk2OE4WY1EbA0r9tJJViJwAnhHDinbJ314igurT9MIlnrSPMBSixmE4z_3DB47LmYFNNet6A5fCDo-2gBWQXGMuTCsl9iR7iVSOVKR-R5MzpIeE7QjSB9jZfJiUfmy2qa_4YYNp9R7A_3Y5ttLEN-fj2_XfEtSZTcwsFS72ILAQ0IPxcidbtvfync87J3ugOYN6VBdHi9MM45ft8c6NHzmpyql-sgmsOREkpmyPWjs74XDysMCuF15bcdvtZUQyfW5uuH1zfAbwhSFUJdAq4fS1aJO2jYugcI6hosyaK6VVWiHVPNKZV-QaZ5XUQnTs8etNO3-iU32EIhnN4kaQwsz8hVcp_qmQZ5-FrV0fep1-ULfa=w451-h553-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #696767;
    transform: translateY(-50%);
}

.section-products h3 {
    color: rgb(0, 0, 0);
    opacity: 0.4;
}

.section-products h4 {
    color: rgb(82, 255, 91);
    opacity: 0.7;
}