a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 10px 0 10px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ff0000; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://lh3.googleusercontent.com/aNrzfOahqe7VgG_twSjPC2SQi_XE8z_hRNNhvkiE9wLlKpkpQhAXMgAY3_NnleiD68mbNF7tQljco7fGWQ1bCWoBYY4PVpo9DOHr6dahhFifHdy0stO55g_ao6YNgcIipBc5utru7SdeR5jGqidhYBbmJx8EOQioJpIjXq5UV1XvD-m58sDL_4TNRRtMFNU-3378I29ilSHTv5XoPE1aCA4aSUpkVPi0y-ZBYyRMitaTe6r4nh-BLDaaKcnSVV9fYHtHawfUyktewKOgcODXcohZy3vgvvjt4zDXrxekYfOE-h-UfINSglI-Ow0mzBfh4_5XJus8ug7zskSwUYXhubW8zJKkPh8l2iZDUy3HPbUFZrVThtK7bELeLBSJtoSy_kL5bL28FhBlq-DP0mQix0oBvlDzw8S6G4x1-r6JBKSMbdSWwj044VUVLNljr7-97O3TZYsf8TMB8uHBw0ihbJajftq2_UiJJQzfeKBWv11msGymcHT6UEem92xWJxJyTTQ_NrY7nJOkeSaVURDcEwVWwiSdF7n7Aq6CT_2K5vfl4T6ODiKo9kmMsuJ4sYhRDgrn23QgPDmf-b4NBOmkOFDfWLTY7pnSfajdRJlgRttV7Ls6sbY0imBJXWA3027m40dwuBw4t3FIEK3BfyUuNtDAJvK42x3wFyZhISxxSBYAxo6rKX7ZfvTVV3Wh9lGInYWD-Zo-rXfe8745hXB8JEDCJX0GUyj9sf9K5Mk8k70Ox4sr3VTSfB4-SQyqOPyz4GpbTqvvxBGCQeRnQQlsovccmMSBcUoKvpo1LKmZo4KXkOnWy5-WW_taw0diTAdNCx_1w9Co2ZswXGTgdKA5mibeHRkZZR_9oB7_pnZGTj5EU-dPFdozKyZUPZXbQngID0SOgmMaifA-iiJS0tY_2cFhzclwM9SbgvVSFegGvf1X1RFMlRgFoAfAtwfuyY0jRKTvaehe98zs9mj2r-rjmS3dw-stR7Gelj2d_7cnqDItcsMybcbUCgLmbu-xa9uwOj1XhI0nX4nq2PbxHhhfboOYRbi1=w427-h585-no?authuser=1") no-repeat center;
    background-size: cover;
	transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://lh3.googleusercontent.com/8USwB8t1lzI68e62a0xbmaC8Eyr9ZVVZ6ZfyCW1Tvjya0dNfABshfgebLl7zETlqmiE1qdypREVj5ZbLxz5xGWZSJasAb8cb1q8XRWhQBHtHxaabsvxzNH9DTewurpE8o8K-LW7DW0R17I0HJGNdbLEVRtc6Xgb9TZXsgsVPPOJLYSu5MLzi1JIbc_cE3MXEkAy2Lsplv2mJlEhHZCGlS2kHSBhKvFOhbzl2JqpzWk-hoIPZ1h-LLC3w3xV8D8nA8kT2xCx_hLxVvUPCnzL6NultdXaVecoS1PstjAj6JI4pW7s1ZYpnqQGh85TN-qB4G6Vak8K_9k1p2UyLeASIxFCfUvyzMJsVTV7TjiQiWvQTJNSjHdupgQNy8QVDD46l0-qtGTyHDnPNlmmkpqgvPULiYHwUeh-rkqGcMAX4fLtVZU84K30JLK275-bb1jKjuCQ4ujgWMaQ-MIaDB7MMZwDBLhHTFqhBilQbxoZFVqpal4zCuZq_SZK5xDQQLNLK0vf7vHV73eH5vTB2siimT4BJD4q3BxHR-acxXxKNOdLlF_SKKTkkSFQPHJqHCodQmbRmLqJ6Y6yGqC8GWN5gNT32ZThDrUTkLF_ZR5ZCp4N7vrTrHa-YjkfUSA75Oae0x5wWjbFALsxOVM2B_K1BMuNfGGyGU_eR6gq6PHI0rjvD1yp3mJI74P108CX2syHYnMHHvLuuXGzOYncf9pA3OmgSduUDSu_dE1_PUVsAbN81-btT6DdCF4ALRwQ7KZlDDpijw9Zhbarr1kzRmqR-6QcLkF6T6G9IBSfC2UxB7spetuXbxbEvXxni88G-I0z6dN8eJWzewAStQm7kVqJchhNzCBnQ0wBb2pDxkP58zDvjuJyC1PgYib7pjOWvkSCu7B75sFgA8fCuLj_ZiXtX-7k-Fl1dFujZEdjsnukOxKousJ75Nj25xFTJYPg_AX_o35LsLGIUiD3U41lA_l2Wiw7ND349Td81kCNHRaUncb2ciHb3O3uovh8zix1mpabmRv-EvFoSZG4CuoTmdemDk5udydbX=w450-h554-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://lh3.googleusercontent.com/2jPLacTvpiUqT4zBPpE8E-STGjzbi4Hio_o3C3U4JBy36gCE1shncHpa9aDAZ9tmmsoD2GncnLRMyiZgdbRie0LTXHfQdbBmYvFC8OgQ_cxYLR1OXagSXoxSP0RYjrEOkqqSIlXWI-Z-3cm3EJ_5bEgrZ48Vm9fgpIuv2PYdJsA-OS-t-HC7DZRVhJPtYqKMl3Mu0Um3U83O0gZ5vz383FL52l5jcB1gqem8daP-larbOWep83LHWY8qeHFQhRD8-2uY54wp0n4asWQaATrHgxngKEbbvtR7RN3ehOey9WXjDi-txwe7sIbqZP_YEPZI72VSGUO0aF6Qtb0wMVFYhvzxjOeEP-lJtqZB5jC-La0FsygEQykb5MafOgh4S1Fg2v8FzUmd1XNHxxTpAHNPmHGLHyj8z8bbi84uc_LdCAqBZo47LhfeerDmcbdqdwG4MM1xoQBGMX0fzF0ECT4p_YQYWnsJgu9JWVTpAZ1eAmxK6L0lPeq_8aNgoHHpsh-iqKFkks7xAcrVcyqsPpJrrM9urH4bso5Y7xYRaj8VEXIpm9gIuk48bUbd2krhf2QVI5Z96WmNMHz2bIfm6BeVFJZFkgTkPIm-XVdcmmjI12QuFcyYWDmrv2EYBdckJ5RAOqDmqF9eW56XdDHn6YIhtthgcfI4U9bxfP6los9QYzcVwk_wZmv5LiwS8UPIAES7hQ8PKmBK8mIb81fsbQ_D5O1e2q8xuEC48iC17VRTKHiG6UbTC0UcAVhhVfAak6oHc6zQSsMBSSZj1ogab1-y6vE5l1weRvU_YORiTCQUlssED5wXN5i2tQmwkU6_dsDgxrjBpdhtM0fzhAkwX8dr_kbYGuoDYuOOJReBRk7mjAVde_85omWCCt2Wu_mUtBnSYI-ND7FoSEqTUWQU9l8Nft0dDe1RuANqpMTI2zLwx090_ZVEq5sATlu_f_JbAPpv3tDq9EN5rmm0yR2Cb1XF1gLlepKeyZ82OMdI4g1-RChgLtGt0eDoO4Z8vwohnJ99ylj63syvoJKVX6_156TI9fg4YVmX=w455-h548-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://lh3.googleusercontent.com/2XsMaXqTGiiTRAjosWNV8LaAy-KeXGO5AgBXOc5GfkyOCKZdCl4fKbdCXh6Izr4tekpgXrft0PMmYoc2ZrBMtmG1zCLihdIh0SGGop--q9bGq4yJnJN9k5fzbqqTTAQ10X33a6hlGkukJCv_MPMxPklsFmlfnIrlFRWyt2UIT69kYKdUPEnkc2vmAMHIThobuG-nTcRkBufo8V6WJxUIQQm_kXhcfr2qvy6KgzQzVjINUoRuE746eXfDA0VUkGB9lMXkfmVKprwdtTHiH4NMPYw2b5KfVQXZfCu359aSqujQR8k9bInLpREVeUvBZzeUzyKuIFUzuJ81lYyulS2FuPVQOuClGIm7s3Ka1Nb61ndpb7DBuqAf1ySrewdcG9_Hua2W-um6OGQRo9JCHNsRr9AnjJb79MSfum1-7nbGMRbLcU3tevm1n0kEG3oCvXZh18bgN8TAI9mETZYYpJLgSYyGpowN-DjJwwRHfZZHue5mkgWYunfbSs3b-3TEhM_A3Ow1WoUWH-MlBXo28r-rjo1aKDcGoScXHeNjKev8U7SoDVx3ECE-qjf5V1KL_gsmAeg-LR7NPZZ-l1GB2MOAPbXCWj_A6nn6LptV6hYzEozYfQRvEXlf9zg35puq3s1VALYIHwDiVtkkGmmvXt9g3W0fQ8TNDGfhVee41k_ZOw9Be9j3xiHy73u9tAkUAyvZsT8e9BCleLuVtDh99FgQVKujkOr1Z_n0UB5F6tN1-YSagdC6CW1Q4fpoLEXpXWD0FmCRiVUa_2mHnqxUUgx5y_ibW5T3sK4LmDxpnV-eJoEV7hzyFoFCZQ4JMWXtogH22OJNpjDG821U0WYDrwFTHwlm2zm6_nzANOvbMo0rETDRl61Jm68cRw75SUmTXwvhBmMsjsbwGvDO5-cjT6YstqieqhsSX75IKJSMtcyfNNuockWRvRbmzVHzBB6tK2va3aNg_J-BWw-2Kz0DD54fCfTvAUIcir7mpsaZX--m1YIMjah7vqCdWihWZZqJ1gCKa19dt83GLmeM8WFoFk20x06KJa_8=w462-h540-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url("https://lh3.googleusercontent.com/Y9OZYnhvtdMSxFMhInyzPaSSBnT_cMNHktQgRIMsEZKwJc2CuOvYP5gug5I5BQCgsA0QvubR5aQM_P3Rs79DbX3tqbDufaItQIYgqkZ61QRP4yV1wA7zOmaqbhXV78mQkPAt_WeLJjffiZGgkXjwMjg74N8GP9CsKMp5YRbmUeJN5-lbu--Mohm2xYDXaBtAqjWTyLX-5SKnnGlTo0Zgg2y-Bkh4h9vD_QJV5fx5JrQmC4vZQ3Y_y0X3C9UBBppB_BG6GzXDviA6BSSFFWlFiUlUwunrag56cNX76776gdldXvKdzGFKKTqFTJl8guNhpUWKFlwHPDaUgT_VJwmP-ZIdUrX7r3Mh9Fp2hxGGaGn4F1h9cQ3Iqsjkg_g_CGT64gMvNKxcJ_CwBGRqqWH4OKivCPPiFvfhUXDaCJs4NgdtF2Yfjv4BbIlgz54VpZ_4SScOvbXmjYKxGEAAyFmIECV5a0CfnFfad0L_gdUDZy1DZn-yZuiW2ONpl6fTvieASKTxZaFyLL2fReagSswpUB_ATnsjtYtehK7PWOLZnfyuMU-z4FnY_AOC_nGPd1URL7L4P55Wd0HLFfSvzPmqyDyKgd049Q4e4IZnSZGctI1cNHpPBwznX_T8O9O6Og40qlA1msUmYD1c82o_ShVZCfuaw_9hNCg07DV43VcgZTtZWtk2OE4WY1EbA0r9tJJViJwAnhHDinbJ314igurT9MIlnrSPMBSixmE4z_3DB47LmYFNNet6A5fCDo-2gBWQXGMuTCsl9iR7iVSOVKR-R5MzpIeE7QjSB9jZfJiUfmy2qa_4YYNp9R7A_3Y5ttLEN-fj2_XfEtSZTcwsFS72ILAQ0IPxcidbtvfync87J3ugOYN6VBdHi9MM45ft8c6NHzmpyql-sgmsOREkpmyPWjs74XDysMCuF15bcdvtZUQyfW5uuH1zfAbwhSFUJdAq4fS1aJO2jYugcI6hosyaK6VVWiHVPNKZV-QaZ5XUQnTs8etNO3-iU32EIhnN4kaQwsz8hVcp_qmQZ5-FrV0fep1-ULfa=w451-h553-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-6 .part-1::before {
    background: url("https://lh3.googleusercontent.com/Fi1N7qvtrYgE7FbCsEr2jzZmH1Ahqrs5JUbWDTAawAaEe1Nc59YMSpNbXafmHEmzprRthBZLM4FK2zP4cJOFLHSSgrFOHTQruzmBaZkk-59Q7DxF5MfUltZqKamTzVfwqw351pqlk-ISwAqts8-gOOLLTNxOc4CQ61MrvNH2Ykh48EXmjnCZNsh87ASX_O9VDR6DKzh5OuLwCIniY9LNzF5xl-jPfxE1oOmj3EJdieC5pMv4ajnRef5eoIntR0ODcHfzT6QjudHuanozX7OYvKt717JhZezZtqb68NRJ1X5qdoTNv5AUQPI7Od81f6-JAD3USEixpIIlndSUHt2SVi0e0TIe_587Vj9RTkKiFfduQKxEY49lBj5u56AanbXD0bEy5rrgTMsQtsZKdaXZVHrHv5pEqdQba2yPeqstUAAv4jZeTVAwniooPl42yft1yRFvLM8iX_eaAs7cow4Ry05v81cuyKl7WgRJT8mdYA2iEqOk8Kg4noYcn4TllCgaKFd7_haEcoiQOHmLJ0Ts8ghS9zk5ztzXp-3c9stomGk-Eb0sX9XFN9HhOFX95GiVwqbRSIEGm0fX5pq1YBQPRCP7mVo2uGV4mysSFiHUUgCDlhRJ5f-KkPr8YKHB_-uZoNYA6hNgyLq2hY01ZX7MuDN7neZYr72YkVEvHSAtq6wSqyp81GL1OqkK5c21-ex3hoGoDS-Xx7vXYOpW7sl0pmioC5tsAWBfs1GXPtNgcLb8ukVDclFM2vVbhMs5x0fcHBym4hP0_AUudLm12xvICrWG-9FUxdODvylKYoozka37700Rz2gLNeCrkWYrskVfiWHMRaawfRM4-rX8E8qYT0vXWZvOwTG94uNoc5lhhia4EwEaj3edKbyEdvEbPbQxL5zo-joqzHYY4rRFOGKb48jx8g-lP1zNBJHJ9sCkk0aSIQaZkiwRkQoKDRefWfEQnggSr5koFbhA47LkNpOUgOk3kXZ8fKiBkvywL-OK7-9mBuBG0ExdIHMA6ZXXNYzCpiOenjddwGUxxpxcyXw29KncZJWA=w1392-h783-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url("https://lh3.googleusercontent.com/utfV5-HlEsmJJAJXCH0cA-BpcROM2l5GlSz4SfRADltcG2KGlKlwt-kHKT0H6S5-3tdqah7umsdY3OB5fV_qILZF2C4AQ2XIHd-uoYCiwSMDj-AD7vDpm2La90n_7Gl1hbpTe9xUYtsQYsbBbH8CbV_VIHTN4927hGOi0UpMZA2YAakAJ-f82IFdvf1bsSeuOdMlsQYNuuh5w7K8jB20thyhaElckgqwjd67PzY-wfaB0UanL5sTPAvNmWi4oCOjw0hs30Ex8hbL6x-N_Deip8nv6wsS944SBQpYL1Y7w2Vosxabng-Auo_cLJ3V9BT6dHiNpPGhUzo2AB2ZX4ayF4vaj862zJnLnL68Ci_f5rT_A7Snoqkn-5B4HdZjTO6FQrg8iqbH92nyT6t49oGDVQ927u25TB86tvAsC7hD4jGVQKZ3-6s5BvbWwwNVGXAiraUGrt4Sh3FHgBcPo0BBais4khLSPJ3onzbZlBMd7gnw6exv2Q2SlgDw_BI08uKoC4v97VCS1wgDQ3sXLZK32U-heRPdCCMWOsyWj8C9HbgSApUQkpJ1_SabI8xDLHi5TUs7arBmkhd4g97P8O_NKmniPBUw1zGAszHYBu6NMvGWCspZKe3klNUn1qMyV31PX7SYwq5E2-bEqQ6BHxFhuOb78NSeL40IGrH0ZH6tOvgpfS22GvZqepGueZBo1VbZPNwOOaftr_I0G124AHhysHb7iIMeUhLxyTp7iE6IQfcTCgfpP-afboXEUB-ESAPX4CmtxEiMPFwzzdXc960St-QFj7sAbubNdVrXi4NXxxw8RnJRg2ayG63w3-sb0HBqszwMm3BBDmC3VlkoInXIevPkkVQzQjVtZehnKuyliAzsb2de9TTfAax83O8ZJBClYa8nQg36svWoC4ziDFCxLJhgpemP_fJbg08LLq-hRnI5iq_tjE-CXalrE5yueIqe0vm_g-2xWVOxwPGogVAtfUYp0ubLVaQpGDiFP4EPe5pUHsEso2k2trUO4PaD1XOEEj2uzmg_DsUWT2CNuXbHMUB3jsFZ=w590-h423-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-8 .part-1::before {
    background: url("https://lh3.googleusercontent.com/i3UQQwpahuW10SZ--YZ_1zwSjnVQJkOz2B11WJkRyFZA1R5efHr6J-QMZvnMSzibJf-qkZeQsZODq2ADkt4HYEgxwXtpguKckevGf1WWNaf-B5Qg7jZbWMbp762ruuaxnNQNECKM6Dn9Ur0j75O-qdXQ4_byjCTBRasCm6RRoD21w9iwvu11eJSTiAZh0y4a95NGWpGET3FG8V8LA57tdwRXMPZ4mdVbnXjsJ31Ufaj2_VJlYQDz08Y2UThYGkHoxrLQpJQue6nt_RSkaJQ5gZ4gYgc0mDkFnm8GXgk8zci4QpLF5vCwCgrnPp0GrMcTIzqaA7If7VAbSuOX6TF7PJiCLVDkPEK_yvY1Ngdr8jc5t2aBaxDnuA6sDdkVrNqOuzLrbsn_1t3erQCBLTBCQ7XXBAiwjw9pDC04K8Hdb56ZkX4FUSKrnEgD7mB0aL_gsboWUPYZCHP5Vo-5izbDuKJ9KQ8oZW7j2q9KKuhNEC6TXDLx6kp6ZPI1ou1QUn5dUdBRT-RouF0a6KpZUSdc0exsJKS0L9G8d5ZEL-1VeQcE5AFd_JxqQPLhvjKny61EEO_UxoHMzrmbcs2cdmlk6h-174gDTCdGhwsUnjt2zawQA9oI_6HJf-MQUII2RptdEnOu2JGmJqAOGoH0zTgFeC_oFBT4ms8Kapb-U8H6HBbmR4_dURAkEGXiiCMnIXWm1yHSIsYcOoJtGEkM-M6b9HDVQOA8Fd4BYhGCG5hdhDqc6p0ZJdvI2uxBdk1KOBIRlYbc_J8txivo0D49ysugtfgFpKUp65-UwXe2672XNV_hQw27J-wXCL8k7wZOfIay1A7mtvw_RKBIgbEQMBCbFHd4LCo5bb6P1dhREondFhxUZ5UKo4kes9AsQqnVE7gmdPFmyf3JJ_RJvh5E0jFO70PYh_BnhNE3Lgc2Ph6Dr9w8DtbVDoZFdXyOheRubdXyQEOtgfzHExRwLh5sOo4BxhtQ5_XUsesn1PYzL45q2hgVx5CGvmaFiy28fqZ5aVy8kMN9j51ArNgfohFo2_T9hPavpyea=w440-h567-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-9 .part-1::before {
    background: url("https://lh3.googleusercontent.com/POx0tAJS4l1eqyeDp-iz5VqACMmYlG6bO6-7yh1Mr0QyfGLIp6gGgAacsDudtewI2Mjk5hOfiHi8vO_WQrnuEnINNaInoHXAR3St295eLbYWGAAs-Cml6vTX9WeMcCoDC33NBosiG8BOIRBSknEjL0fy6aSI7cdQ-q1gEgC0d1dcdH8wwTNfn8j_Bp1HRoY8wzWO_NKnrPinhu1TblpMJlVSJruWalE9QZyQDx-4gVPiqWTbSMdOYuBpJQOwMA_a5xcl8CsLv4Vo8ycZfBsxSzvRUK_Q4177vH0SDTuabSRuFzMR5JwmUxPHCl0Dsn5WEQ4RbwXlhGh_NHDW3-7tso7UCigZgeQCTIxkz1cx7zfZfzpXfVcID1FMQrDOySZsI0CntD5MfnbpKOxiacSme8VoowmPnMhFyq9Y6awvzgIcVr5rXczKBo8GEnAw0lK9-Lj9AN_sHrlGtFus6x2hj_UYk5P_b9NerfmePn271TdVOLsauEg-IPvTXT-9CYg4HFWBSxi3Htp0qKj-7FjCoZhKLM3ajA6jxYXQypCUkTcXMCPDTYl3ZrVFRIi57L0uqWHSAi6I-h9_u0VzUmloIYAkGqXxELCZss6fbRVuhVscm5UQOAuUUaCgFnfwcZlqC8husEddWvpy57TK96PL2vMo2QXI2LLbylancW03Ao-kwJgc4g9GjTS1Mruha5o2EX1tSRIkPsL69_DlSiyPBnmHPE1ugafeGtxbl2jSo6GkGzcocuTeyeGri_caR7SFqQvHquwK5Nu3918vkuuh6ee2LWui_iIFmycvu8ayYikFz_dDk0pCGJKmpJSgtjg8XInjDRMx8s-dA6rARAlUpi0Vm2skOZbG2AA5oo8bthryP2dcK-Q1BGPM77-6GkswtkBiENTZfBnG9BC0AlX5_gxkHpd6rOtC9M5Qhv3-Cuv3r08Xk9NYzsKU2dkMXMIHT8I7DTL3C4EOn58RPESjp9MOiVy_mCnzBEA7qtN-h4NOgwmkVd2Uu9NLMrTOjNxYzb2lz7fY6YhxAqeMCn57deQ3a_T1=w449-h556-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-10 .part-1::before {
    background: url("https://lh3.googleusercontent.com/7wZp6LlJ5R0vGECDfUilPUTP60LfZ2iNlXaedHipHxIuKycajbJRwbRGFkcua2O5GOESRevibPuMJmTgcl9hw0FUcJxPSVOad97HmGkILgA_TdMSrw4jwp7QKyO-Nf1cCAH1BMLoF9a4nlTqLeeaVJhadvkQr1D7hrEKcuCYThPi7n0shUW1ofjql3UGbnUkQV-3HsvDGUHe8EgIRfVV5lprVgYcxVLPahcWiZqyWA1V8Bb98jzHTSBsj4umO2a-nM1AfrdqoYUmZjZo0E-SpIfaHWStx53sZgXUCtyxc1Tnqpwid0trDY4djhLeBtWUGXU4DtLm01fDi5xG0_1nhPf-868Y90i2jeweCOdXHvHF7PPLmMSoWocthib9JvyxE3lkT4BWNE7MuONQp3_qaHy-ZGCdtJtXFDGmIpJHQresNqMZuDPyAsd3YMlKO16Z7DgC2ohk_4wGQm9eCf43-BJW0SmBPyil-wckZGGuClvCCSz2wuT-2iewZK55_HNAez4RpfUejT4Q6FvAU-OCdnHjOuR4dFFtp_aknfB2I7CjaEFLXnQmkmDwjoAjKZ1R_7sl59Il8qIJ-_lwIifIL-bhQE6D_3bnhCX7ZHEXpTPUTZzq3p7vD9Nq01Bvm-J3QzwCv551OUYqEm1xGwKScDuUM98g0fQTQcugp0cJFWJABheGW0FLI7EognZy23eB3jTTrE5XVTTbdSEZD_AukiQQEXNi_pN0Zc2eImQy8N90KSPA2Z8QhiWte-PAKcMiaXIpQUrkuVeavDI4TUJdnGhFOdUSCplPrl6UXrnlEaU46VpEFM4JHol8qM0oOi7HydEDUsn790d-UZ3YqgMyY9XrCnX1I1lCZWsMLQcMrnEoRwne1CZvXRqQujTrLxx5mt_1YzbgHylAVs39id8cGWRCTeRlLQF1r8VprFPmj8Ti9PwBZLzceqGgfaedN5EwGaLLZFAn5TGKfKTtwYEuPsi3o7jWiRy6T_mbysdSMgWHeVoBdhEJ7W0FjzFcdTHOkbRprIpYZEMQ90O6OC9NLs16Mrjy=w446-h560-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-11 .part-1::before {
    background: url("https://lh3.googleusercontent.com/9So7WHkAU-2z-sHPbYBeBMSPXHsvxZJdo1yFIspdfjy6IVSAIYIOb-w5rcnVLDBmdhhzXmEUWFivs4GMJA-REfokVdEuEdE1z_fskjitppe53gmF42KpW5m5Ht4hDZP1HXc4k1iGp7eO7tGh_sKgnUfY8eG44u7377bKIVRTNmrH-4f2uneCBLdCL7NjPAJ9Rec67XZbqzqQX8VUKkZAqxPoJLpBwceemFUapWo3lPqdmCmn84vkrHSq3lr0uEsircuB5T-RurU0L-NH1Gml3r7OT_favhpgodQ55y5LwQ6sbLNmzGuvCTmiybZCO1xx4IuaXRNcl_FNyBb1S8raN5IY-ayqZRDEwXOkk_E1EQrV0ZTMMcMe1UGwlAxUlcnUCLFsl28SfdEvDuwytaebBPENnFsNOe8dTfFHjqIBOLFT5gViQqd4GK1lhbIlDlcpkVVSrDgpSYrfctSWIzt_oOHk9TwNPrCUhYeFRUjQPjbmvnd_OaDr-uwysQUk_RCW1YSKyVlUgFYE6qUg9xFPpYcG7fsMoa876tsV_m_nMg5E3HxodibLO0H2QXQXcoPRMuA2VQKxtgHD9orJXDBh_GH_pfbOzZ2y_yg6SZZc3V00P3Yjg58WYlxt8S7mPLfc3qnVPPBaK8swMy8mNz9N8GovbKxtwN32BT8K_mr8stY5ThQsf4j-C7HipMz0yIOOL_uvhJMw2tV1LJ-oa-lJcKLh9nOQaE4iIeYSN901pEz8p3hB6lWfBYiCxPd7DXHMjahG_WzQcyQEdnZUfhH_R3TQiRR2hTG77QyP5583hNZQhIB76AC5Dudlt-m8h9T7_koHWtKPTZOorM5EYf5WzDJUw70a3AkoaPJ4jalm81UtjMu0LHkbMZVSao_bFYBWlxVORhmsjWA4GWEd286lzY41aFZFZ0pv9Z9NApQgQevfeilMw0sRmxNmniiegXsEoXmGAaoWrV0gsim9qZjox30gISs4Z6tN9X5OE3GiuSyS062hzbW2-ds2Tda8z9lMoH84hN9eb2h4YNf4c6KED0vJpK-Y=w431-h579-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-12 .part-1::before {
    background: url("https://lh3.googleusercontent.com/ecr4FzLUc_u6T3BdhrVstXYxPpF3Op9dHxu1ezINeHFrz6TmtjZ2MXm61ceNLzfumuWiZcb-_Xfg5hOzvpdHNsM_zHLlMQRLuBc8taynCxVttegcfWBh3_vYYuy4qwDRKeAZpwD_663FNaf6gqfsauk8budilih4jtHL6-XVUhG_xOPY1wfubF01nbkAbBTxJvjLnb0xUooaCpi34-qtz97ukYS9i_CoJ2LbcLn5-8z3irK8pmrN8lQXptwwTdkVLcyJP3lVZy2HaaylZ7CCuyQTJIdcdKK5KZ5mxmxZZvGPtFzydOH2CsZJLBDmVIwBOvz1t7gVzrEeXxDqV74gvGwh8dNpMzXSzCnsBWTp1Or-ffSBjSYxp7W3qcimZGNpz_-7YbymMrGEek3SWubHTbRgJP-2zpmMAQoKehwKs0lSY8WgdNCp_z1Zs-lQMRwJkWQBRQ_OBxP7lReqNkVMUmuYTZjeabWlPIG0Ar9VXPhK_rmCDaetXrHey_HEVf47rwjH0k4XhjCV3YR7qr9tt_t5qWwQC6CnMy1c77vnND1zDV2KSutI1ioTvlaQLoj8zNjZH66FAoMOyOFSAjnSuN6pesTtn6NpwdufFos1OJVVMFwjJ2Bra_K2Gd9xxzJxdJ4QGmdp7TNX_OkMkFOYybqcDgppEbXhTuiPByJHWhYEtCEDgWSg7xwyYDfbbRFEYfE72PJCJuSJ5gnP84oaIHvwqJVd-0EOcfNd5oaQ6swyg3ZJq_E3wAjinrWNoumRu58fqK4d7dBb9dIBDvgb568r-B-UPWMq5KLGzBur4PcYmfIV5p-emQrHM4hfb594XVZl0iPmKDdCmsP8DoE5QygYX4L93ityHXZgH8GMOxr1CI9xsxZUmlHVFbs6jW1HBeh0mWTG0hlriBuRh2G8P1Ia9FhD_Wx_iKLtOYiquQ5_sR1cAOWhQGY45gngVZ4QHFCskj4tZO9Q6qIYPMpzNCck-o8OIXLIsW2Sctw8i0dz2C0W-T_mm4cyXH7BeS5MRk-KWas8EOll4GLoo7nKtqKvWBpL=w449-h556-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-13 .part-1::before {
    background: url("https://lh3.googleusercontent.com/jcb1CxS0FhigsuCuPCmWqS35ZUm_nGaL-VRniMiy52L0140RIQEwCXWb2eZaNrIqWg6VSLvMXHJfOhFhqUM2OCoaiHFEu7ApFQsB1Hsg4dzr_wXQEJy3QQukImePHr83gajFLJxaQciMZVcQF2U1tx37cclB0MqcmI4xic_1Vd9zXjJm4MQJAldTnu3ToqGB1SQoj373Cii65iuDuLTBlt1Cegp6Aa2Wf7Gx6wFPQ6sPzy92eKEhg_iOh61FpaBJnupVE4eQDFeMiVZ3rwbiIT4-P4bo243o1UyTF79hs189fFIMRZbpnN1yAPSYywl3tnHTaRf_sLgsrP2c-TDYBnRns-9TPEhfm7bo1tQ4onIOWOpmMVf9MWQafG4klbAP5zAfkQVGcbOtyyoigy1I-VZ3uMMCeX_CTtZ0HvcTE9UwZ-57B3LjdeFDAtAbTx4hUO24sC3CrnWDWAkcv45-S_hfq7Sii1TJtpCt-itdeI6mU-6tH0APB8okHsdMjRVgtSCfcDJh5kxmUsNI81-ho33Yy6b62EPuNUgdBq7JVlHnZa4Mz9VvERrJbGgOyrv75wP2w6BXLm5kzyZedoJhZmc7jyXQY8U_6K-gIdmk43kQ7SRP6DbZ2WklDFjWHMKYBQTd55T_ajex1HMdzoiRdr9B1hhBQ7NrmH_KpQ9ePG-ztCfKjRzDyUDA-vj5VWBiRyoVCteC0QNMy04rSZTIRbasyqRlxZlEwgELLDdvC5kKyhmzk6kkXW-7vv_khC9WXw9Gh7U4sDOeJv35fo7fSHhgtdYW07x6rAijb0irxNbexNfeOchefQZtSpfsc_CIGb84wKrvR9MIAhQfM0tEGbGk3V-y5kC74pq5aNRjB2sYu4YhnF9iPupkKV0hFMPXTlD2iOjZEkw9P7xN227Ush6zcA1JXlGdGDuvuJV11WMuyCJIYSKX2E8awpZt1_wuD48uMU_OIinQ8djFRl167_cp0HjXHfzUS5k2PB1mtbZ0RJncuFy_DFhJ-khhgzPEHSksEK3YrkGreVAYjgH0ieNpBLnH=w437-h571-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-14 .part-1::before {
    background: url("https://lh3.googleusercontent.com/6lw2TFm8PTsexsrw4tykOWfGZMIbuvoNYjsHr4INrbN7RaJzmm1iwpoLfERK-1JmOJgZMjJVHvNtQh8hDDT0ODVyReXbl0awRap91HiA3roGJWmKQu1s-NNc6bq9UoNcZY0ltJafBAbwJVrS8RJWZdz_F7uVloPRnzkyrjbwzCEAkZay-QNyZCBAeEVOLT8QJYHLyGzaAVKBNYhQ_vG7mvbZpZbsn_QsGXzMOaGLYt3r_WLQnsVRWn4SmEaJKlNDcc2e6cLd5DvEUYRO_hvkFZYQdOoHtkAVsZbWMoJn3k-sbpi4dnmHxrGtUhcoElEWinILhaBclWZh907HbIhjQf5nv9lUxI-dHofIB3P6nO_p386o9HyGDUaTUcpO-pnSNLwOXxE0o5VcrkKZartqDJGUci5CBxRktmWAeBCKI1ltXMjfh4TsmSp1n1H6ahi-cyoC3sErEz2448KZ3ZzmWSrA6IfrgWe6-NPpTTdzSoOnvU1iggu4SiIEzRPeOUtTkz_qgKxm1Yb1uSJ9GuecFLwrVr000wlBz-bltPUCsPrhV7yONDshjiFct_e9Yuqi8N6Czp7hsCft9MnGgNMjA3739BFuZog3Cg25YhbMo9rW5Ckh8L0aXyHF_tK_eHk4RF9GFcwYqXI840ENTcPq-e_Z5X8o_LORQiHKlwsO5soVI-rto5Mgxfo0eFBeoX0EME-wFCQY5iQIRRei2REQGPLtj2njzy3jWSWHto3RR2TKiZ3CaFiZUkVOOWbYkPgqdHOfkf8ISpoUu0maTCzxx4Yr2d80n-bis1PXgP2w9BrfnXo__6iHGmlVZEAbIG1_Ai4TS7VbZC3qIzJ0FwgPGh5YZSSyYVluwNlMEbVDH-HxVD-6LArdjrgwNi_-1oFkIRe3ElPmmet3xLwjHowyCF2-CzxLlWx3OIXc29pE049niEjho3xhjEhhpQBVAzHptFPl26oaZx08_SopobaFI_fNVN-TbuM8oRbJizfLi-j2_ZZDFdGnhC_NK21Zk1FGK6x9VE-IFAux8m2laeJ4m4T5EdUi=w462-h540-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-15 .part-1::before {
    background: url("https://lh3.googleusercontent.com/ROV6L-hm9Dnr3vDH1c0iq5oaWGPgu-axDEDedSPdU3pdAu8i0ix-GGftvs8I8BPd5Z95UxgOt_N31qFMEzZYDSyrorxBXOsjhKN2jIR--6taU9ou2jaM7D3PhkVhgWsT8-DuHw3QElZZwgiTTv577uqAU7b_O4lo2Mp1RE9oqWtel0YTI7-U_Jft84UzUXQm3-mtZicZKIswjHNY1yU-1SF8-5CMIseEUVjzYaCbfLsV02vXXtPB428mBj76frOcvAH1-7NinwFzEac7w2a0DBdKTZVFfWQEkXWW7GSlw15r7e9WMNQS12YQe_lP5BFlFoVR6D0B348BjxSu-bsJ7vzdkyfbjUBccSVq6xgLvBsR0K5eDKsbWho4451gBbpRFMoQ-7Pd_4Syx0RIWk3OsoySHr7prDyXJLRvZtKwDhrErUW1l0F5AzNl8RRfY8kiFNCYSZ8iveJrgXgd77WZQSeHcxXShBFfvl0k8QwuTLibRjz2rODv9j4cNWlDATgOJP9coZ8zKoJWbmeCv-f4D2l6wwH6d6D4sL9g9EjsXUQUUq94ORcO8D0vZTfWubL_9bylr2e8MjmQSyuhe6sIz_mTLDip4SMQNqW3eI6EtzexmYsBktUkjT3EAqvHWexM28YDW1fcmd7c5YXfZbA8xYt5L9ItwMu95hkRQByiIuVqM1LTo42vSbFqf8yH1qVwtPwV2QiZRGKGLPU-ulkNUD6ASVrhcZSs1uO86bxJymCUc6QaXxE1oRJgAjRjoP6nzaGb0wsnFDX82R9soE8HadyFv9zcsXfnkv2JIFt1w40aBEO_rm_ekHEqMp8qHdYCMFHQ-KsC5clelxHDP-2hFdn5lI6aVxrIDbJ6iX2bj13kKBF9HzV3MTiiNwfFKGwmXWEyqy97GJO4v_zz_BbM-o4_8VKpPwkwW1lDff2dWPpYi2z2AFRFZAPfbDOCZrMvqKIuW1894qrJbjB9WNggWERpQ4rP_XPq3tTm_RwoE5OhJK0wsUWE-1ZJ8qkveHOzjjdSssilADc1898vVqRS6Vna-ed-=w423-h590-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-16 .part-1::before {
    background: url("https://lh3.googleusercontent.com/Y9OZYnhvtdMSxFMhInyzPaSSBnT_cMNHktQgRIMsEZKwJc2CuOvYP5gug5I5BQCgsA0QvubR5aQM_P3Rs79DbX3tqbDufaItQIYgqkZ61QRP4yV1wA7zOmaqbhXV78mQkPAt_WeLJjffiZGgkXjwMjg74N8GP9CsKMp5YRbmUeJN5-lbu--Mohm2xYDXaBtAqjWTyLX-5SKnnGlTo0Zgg2y-Bkh4h9vD_QJV5fx5JrQmC4vZQ3Y_y0X3C9UBBppB_BG6GzXDviA6BSSFFWlFiUlUwunrag56cNX76776gdldXvKdzGFKKTqFTJl8guNhpUWKFlwHPDaUgT_VJwmP-ZIdUrX7r3Mh9Fp2hxGGaGn4F1h9cQ3Iqsjkg_g_CGT64gMvNKxcJ_CwBGRqqWH4OKivCPPiFvfhUXDaCJs4NgdtF2Yfjv4BbIlgz54VpZ_4SScOvbXmjYKxGEAAyFmIECV5a0CfnFfad0L_gdUDZy1DZn-yZuiW2ONpl6fTvieASKTxZaFyLL2fReagSswpUB_ATnsjtYtehK7PWOLZnfyuMU-z4FnY_AOC_nGPd1URL7L4P55Wd0HLFfSvzPmqyDyKgd049Q4e4IZnSZGctI1cNHpPBwznX_T8O9O6Og40qlA1msUmYD1c82o_ShVZCfuaw_9hNCg07DV43VcgZTtZWtk2OE4WY1EbA0r9tJJViJwAnhHDinbJ314igurT9MIlnrSPMBSixmE4z_3DB47LmYFNNet6A5fCDo-2gBWQXGMuTCsl9iR7iVSOVKR-R5MzpIeE7QjSB9jZfJiUfmy2qa_4YYNp9R7A_3Y5ttLEN-fj2_XfEtSZTcwsFS72ILAQ0IPxcidbtvfync87J3ugOYN6VBdHi9MM45ft8c6NHzmpyql-sgmsOREkpmyPWjs74XDysMCuF15bcdvtZUQyfW5uuH1zfAbwhSFUJdAq4fS1aJO2jYugcI6hosyaK6VVWiHVPNKZV-QaZ5XUQnTs8etNO3-iU32EIhnN4kaQwsz8hVcp_qmQZ5-FrV0fep1-ULfa=w451-h553-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products #product-17 .part-1::before {
    background: url("https://lh3.googleusercontent.com/Y9OZYnhvtdMSxFMhInyzPaSSBnT_cMNHktQgRIMsEZKwJc2CuOvYP5gug5I5BQCgsA0QvubR5aQM_P3Rs79DbX3tqbDufaItQIYgqkZ61QRP4yV1wA7zOmaqbhXV78mQkPAt_WeLJjffiZGgkXjwMjg74N8GP9CsKMp5YRbmUeJN5-lbu--Mohm2xYDXaBtAqjWTyLX-5SKnnGlTo0Zgg2y-Bkh4h9vD_QJV5fx5JrQmC4vZQ3Y_y0X3C9UBBppB_BG6GzXDviA6BSSFFWlFiUlUwunrag56cNX76776gdldXvKdzGFKKTqFTJl8guNhpUWKFlwHPDaUgT_VJwmP-ZIdUrX7r3Mh9Fp2hxGGaGn4F1h9cQ3Iqsjkg_g_CGT64gMvNKxcJ_CwBGRqqWH4OKivCPPiFvfhUXDaCJs4NgdtF2Yfjv4BbIlgz54VpZ_4SScOvbXmjYKxGEAAyFmIECV5a0CfnFfad0L_gdUDZy1DZn-yZuiW2ONpl6fTvieASKTxZaFyLL2fReagSswpUB_ATnsjtYtehK7PWOLZnfyuMU-z4FnY_AOC_nGPd1URL7L4P55Wd0HLFfSvzPmqyDyKgd049Q4e4IZnSZGctI1cNHpPBwznX_T8O9O6Og40qlA1msUmYD1c82o_ShVZCfuaw_9hNCg07DV43VcgZTtZWtk2OE4WY1EbA0r9tJJViJwAnhHDinbJ314igurT9MIlnrSPMBSixmE4z_3DB47LmYFNNet6A5fCDo-2gBWQXGMuTCsl9iR7iVSOVKR-R5MzpIeE7QjSB9jZfJiUfmy2qa_4YYNp9R7A_3Y5ttLEN-fj2_XfEtSZTcwsFS72ILAQ0IPxcidbtvfync87J3ugOYN6VBdHi9MM45ft8c6NHzmpyql-sgmsOREkpmyPWjs74XDysMCuF15bcdvtZUQyfW5uuH1zfAbwhSFUJdAq4fS1aJO2jYugcI6hosyaK6VVWiHVPNKZV-QaZ5XUQnTs8etNO3-iU32EIhnN4kaQwsz8hVcp_qmQZ5-FrV0fep1-ULfa=w451-h553-no?authuser=1") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.section-products h3 {
    color: rgb(0, 0, 0);
    opacity: 0.4;
}

.section-products h4 {
    color: rgb(51, 255, 0);
    opacity: 0.7;
}